
<div class="media-item-headings row  padding-left-none" id="column-headers">

    <div ng-click="orderByAttribute = 'key'; reverseSort = !reverseSort" class="media-file-name left">
      <a href="">File Name &nbsp; 
        <span ng-show="orderByAttribute=='key'">
          <span ng-show="reverseSort">
            <i class="fa fa-sort-alpha-desc size_14"></i>
          </span>
          <span ng-show="!reverseSort">
            <i class="fa fa-sort-alpha-asc size_14"></i>
          </span>
        </span>
      </a>
    </div>
    <div ng-click="orderByAttribute = ''; reverseSort = !reverseSort" class="media-file-type left"><a href="">Type</a></div>
    <div ng-click="orderByAttribute = 'size'; reverseSort = !reverseSort" class="media-file-size left">
      <a href="">File Size &nbsp; 
        <span ng-show="orderByAttribute=='size'">
          <span ng-show="reverseSort">
            <i class="fa fa-sort-desc size_14"></i>
          </span>
          <span ng-show="!reverseSort">
            <i class="fa fa-sort-asc size_14"></i>
          </span>
        </span>
      </a>
    </div>
    <div ng-click="orderByAttribute = 'lastModified'; reverseSort = !reverseSort" class="media-date-modified left">
      <a href="">Date Modified &nbsp; 
        <span ng-show="orderByAttribute=='lastModified'">
          <span ng-show="reverseSort">
            <i class="fa fa-sort-desc size_14"></i>
          </span>
          <span ng-show="!reverseSort">
            <i class="fa fa-sort-asc size_14"></i>
          </span>
        </span>
      </a>
    </div>
    <div class="media-check-box left"><input type="checkbox" ng-model="selectAll"></div>

</div>



<div ng-repeat="file in mediaFiles | filter:query | orderBy:orderByAttribute:reverseSort" class="media-item row padding-left-none" >
  
    <div class="media-thumb-image">
			<a href="" ng-click="$emit('FileSelectAction', file)">
				<img src="./images/presentation_thumb.jpg" width="120" height="80">
			</a>
		</div>
    <div class="media-file-name left">
			<a href="" ng-click="$emit('FileSelectAction', file)">{{file.key}}</a>
		</div>
    <div class="media-file-type left">PNG</div>
    <div class="media-file-size left">{{file.sizeString}}</div>
    <div class="media-date-modified left">{{file.lastModified}}</div>
    <div class="media-check-box left"><input type="checkbox" class="select-file-checkbox" ng-model="file.checked"></div>
    <div class="clear"></div>
    
  
</div>
