<!-- Thumbnail View -->
<!--
<div id="thumbnails" class="thumbnails">
	<div class="thumbnail" ng-repeat="file in mediaFiles | filter:query | orderBy:orderByAttribute:reverseSort" ng-class="{active: file.checked}">
		<a href="#" ng-click="$emit('FileSelectAction', file)">
			<img src="../images/presentation_thumb.jpg" width="120" height="80">
		</a>
		<div class="caption">
			<label>
				<input type="checkbox" ng-model="file.checked">
			</label><br>
			{{file.key}}<br>
			{{file.key | fileTypeFilter}}<br>
			{{file.size | fileSizeFilter}}<br>
			{{file.lastModified | lastModifiedFilter}}
		</div>
	</div>
</div>
-->

<!-- List View -->
<div id="list" class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-1 text-center">
					<input type="checkbox" ng-model="selectAll" ng-change="selectAllCheckboxes()">
				</th>
				<th class="col-md-5" ng-click="orderByAttribute = 'name'; reverseSort = !reverseSort">
					<a href="">File Name
						<span ng-show="orderByAttribute=='name'">
							<span ng-show="reverseSort">
								<i class="fa fa-sort-alpha-desc"></i>
							</span>
							<span ng-show="!reverseSort">
								<i class="fa fa-sort-alpha-asc"></i>
							</span>
						</span>
					</a>
				</th>
				<th class="col-md-1" ng-click="orderByAttribute = fileExtOrderFunction; reverseSort = !reverseSort">
					<a href="">Type
						<span ng-show="orderByAttribute==fileExtOrderFunction">
							<span ng-show="reverseSort">
								<i class="fa fa-sort-asc"></i>
							</span>
							<span ng-show="!reverseSort">
								<i class="fa fa-sort-desc"></i>
							</span>
						</span>
					</a>
				</th>
				<th class="col-md-2" ng-click="orderByAttribute = fileSizeOrderFunction; reverseSort = !reverseSort">
					<a href="">File Size
						<span ng-show="orderByAttribute==fileSizeOrderFunction">
							<span ng-show="reverseSort">
								<i class="fa fa-sort-asc"></i>
							</span>
							<span ng-show="!reverseSort">
								<i class="fa fa-sort-desc"></i>
							</span>
						</span>
					</a>
				</th>
				<th class="col-md-3" ng-click="orderByAttribute = dateModifiedOrderFunction; reverseSort = !reverseSort">
					<a href="">Date Modified
						<span ng-show="orderByAttribute==dateModifiedOrderFunction">
							<span ng-show="reverseSort">
								<i class="fa fa-sort-desc"></i>
							</span>
							<span ng-show="!reverseSort">
								<i class="fa fa-sort-asc"></i>
							</span>
						</span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in mediaFiles | filter:query | orderBy:orderByAttribute:reverseSort" ng-class="{active: file.checked}">
				<td class="text-center">
					<input type="checkbox" ng-model="file.checked" ng-show="!fileIsCurrentFolder(file)">
				</td>
				<td>
                                  <a href="" ng-click="$emit('FileSelectAction', file)">{{file.name | fileNameFilter}}</a>
				</td>
                                <td>
                                  <span ng-show="!fileIsFolder(file)">{{file.name | fileTypeFilter}}</span>
				</td>
				<td>
                                  <span ng-show="!fileIsFolder(file)">{{file.size | fileSizeFilter}}</span>
				</td>
				<td>
                                  <span ng-show="!fileIsFolder(file)">{{file.updated | lastModifiedFilter}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
