<div class="row">
	<div class="col-md-12">
		There is currently no charge for the use of Storage, however at an as of yet to be 
		determined date in the future, there will be a cost and at that time you will have 30 days 
		to decide if you wish to continue using Storage or not.
	</div>
</div>
	<div class="row filter">
		<div class="col-xs-8 col-sm-9 col-md-10 search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search Media" ng-model="query">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
		<!-- <div class="col-xs-4 col-sm-3 col-md-2 text-right" ng-controller="ViewController">
			<input id="view-toggle" type="checkbox" data-text-label="<i class='fa fa-th-large'></i>" data-on-label="<i class='fa fa-th-list'></i>" data-off-label="<i class='fa fa-th-large'></i>" data-animated="false" data-on="primary" data-off="primary" checked>
                </div> -->
	</div>
	<div class="row commands">
		<div id="buttons-action" class="col-sm-7 btn-group add-bottom" ng-controller="ButtonsController">
					<button class="btn btn-link" type="button" title="Upload" ng-click="uploadButtonClick()" ng-disabled="actionsDisabled || uploadDisabled">
						<i class="glyphicons cloud-upload"></i>
					</button>
					<button class="btn btn-link" type="button" title="Download" ng-click="downloadButtonClick()" ng-disabled="downloadDisabled || actionsDisabled">
						<i class="glyphicons cloud-download"></i>
					</button>
					<button class="btn btn-link" type="button" title="New Folder" ng-click="newFolderButtonClick()" ng-disabled="actionsDisabled || newFolderDisabled">
						<i class="glyphicons folder_new"></i>
					</button>
					<button class="btn btn-link" type="button" title="Delete" ng-click="deleteButtonClick()" ng-disabled="deleteDisabled || actionsDisabled">
						<i class="glyphicons bin"></i>
					</button>
		</div>
		<div class="col-sm-5 storage">
			<div class="storage-used-info">Total file size: {{librarySize | fileSizeFilter}} </div>
			<div ng-controller="BandwidthController" class="storage-used-info">This month's bandwidth use: {{bandwidthUse}} MB </div>
		</div>
	</div>
	<div class="row" ng-controller="UploadController">
		<div class="alert alert-info alert-dismissable" ng-show="uploadActive">
			<button type="button" class="close" aria-hidden="true" ng-click="uploadActive = false">&times;</button>
			Uploading {{uploadFileName}} ({{uploadFileSize | fileSizeFilter}})... 
			<span ng-show="uploadComplete">Complete</span>
			<span ng-show="uploadError">Error</span>
		</div>
		
		<div class="modal fade" tabindex="-1">
			<form id="uploadform" target="uploadcompleteframe" action="" enctype="multipart/form-data" method="post">
				<input type="hidden" name="key" ng-value="uploadFileName">
				<input type="hidden" name="success_action_redirect" ng-value="responseUrl">
				<input type="hidden" name="acl" value="public-read">
				<input type="hidden" name="content-type" ng-value="contentType">
				<input type="hidden" name="cache-control" value="public, max-age=60">
				<input type="hidden" name="GoogleAccessId" ng-value="googleAccessId">
				<input type="hidden" name="policy" ng-value="policyBase64">
				<input type="hidden" name="signature" ng-value="signature">
				<!-- <input type="hidden" name="file" ng-value="fileContent"> -->
				<input type="file" name="file" id="file" onchange="angular.element(this).scope().uploadFile(this)"/>
			</form>
			<iframe id="uploadcompleteframe" name="uploadcompleteframe" style="position:absolute;left:0px;top:0px;width:0px;height:0px;visibility:hidden;"></iframe>
		</div>
	</div>
<!--Body content-->
<div ng-include="'partials/file-items.html'"></div>
